:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

.drawer-container {
  margin-left: 15rem;
  margin-top: 20px;
}